# This file is shared by all ib_credits simulations.
# Lines beginning with `#' are comments

[General]

**.result-recording-modes = default
**.scalar-recording = true

network = ib_model.networks.two_fdr_nodes

# this line is for Cmdenv
print-undisposed = false
debug-on-errors = true

include /home/pmacarth/src/omnetpp-workspace/ib_model/networks/modules.ini
include /home/pmacarth/src/omnetpp-workspace/ib_model/networks/pcie_8x_g3.ini

**.socketListenHost = "127.0.0.1"
**.startStatCol = 0us
**.dimemasTimescale = 1ns

**.appCount = 1

##################################################################
# APP
##################################################################

# DESTINATION

# possible values are: queue | param | seq_loop | seq_once seq_rand
**.dstMode = "queue" # send by the given dstLid parameter
**.dstLid = 255
# Not relevant for dstLid mode but still required
**.app[*].dstSeqVecFile = ""
**.app[*].dstSeqVecIdx = 0

# Msg Length
**.msgLenMode = "param"
**.msgMtuLen = 2048B
**.msgLength = 32768B # 32K messages
# not relevant for param mode but still required
**.msgLenSet = "1152 2048 4096"
**.msgLenProb = "1 1 1 1"
**.msg2msgGap = 400ns
**.initialDelay = 0ns

# Others:
**.msgSQ = 0

##################################################################
# GENERATOR
##################################################################
**.maxContPkts = 10
**.popDlyPerByte = 0ns
**.maxQueuedPerVL = 4
**.flit2FlitGap = 11ns
**.pkt2PktGap = 400ns

##################################################################
# IBUF
##################################################################
# speedup
**ibuf.maxBeingSent = 3
#**ibuf.maxStatic0 = 512 # in credits
**ibuf.totalBufferSize = 2048 # in credits

##################################################################
# SWITCH
##################################################################
# generated file holding port groups and FDBs vector indexes
**.SW**.fdbsVecFile = "/home/pmacarth/src/omnetpp-workspace/ib_model/networks/{{ name }}.fdbs"
{% for switch in switches %}
**.{{ switch.name }}**.fdbIndex = {{ loop.index }}
{% endfor %}

**.pktFwdType = "Pktfwd"

#####################################
# RUNS
#####################################
[Config One]
description = "Simple Run"
repeat = 1
